 <h1 class="text-center mt-4">Edit Category name</h1>
<div class="container">
    
    <div class="input-group justify-content-center">
      <div class="col-10">
        <%= render 'form' %>
      </div>
      <div class="mb-3">
        <%= link_to '[ Cancel and return to Category ligting ]', categories_path, class: "text-info" %>
      </div>
    </div>
</div>
